@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body{
    /* background: hsl(218, 28%, 13%); */
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 25px 0;
}

.hero{
    background-color: hsl(217, 28%, 15%);
    color: #fff;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__img{
    max-width: 500px;
    width: 5rem;
    display: block;
}

.nav__link{
    color: #fff;
    text-decoration: none;
    font-size: 0.8em;
}

.nav__links{
    margin-left: auto;
    display: grid;
    grid-auto-flow: column;
    gap: 1.5em;
    font-size: 0.9em;
}

.hero__img{
    display: block;
    width: 100%;
    margin: 0 auto;
}

.hero__main{
    text-align: center;
    position: relative;
}

.hero__title{
    margin: 2.5em 0 1em;
    font-size: 1.5em;
    line-height: 1.5em;
}

.hero__paragraph{
    font-size: 0.95em;
    line-height: 1.5em;
    padding-bottom: 2.5em;
}

.hero__cta{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    width: 250px;
    padding: 15px 0;
    border-radius: 25px;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    font-weight: bold;
    margin-bottom: 6rem;
}

.cards{
    text-align: center;
    display: grid;
    gap: 5em;
    color: #fff;
}

.cards__img{
    width: 110px;
    height: 65px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5em;
}

.cards__title{
    line-height: 3rem;
}

.cards__paragraph{
    line-height: 1.3rem;
}

.container--margin{
    margin-bottom: 8rem;
}


.about__img{
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 3em
}

.about__texts{
    color: #fff;
}

.about__paragraph{
    margin-top: 2em;
    line-height: 1.5em;
}

.about__cta{
    margin-top: 0.8em;
    display: inline-block;
    line-height: 1em;
    color: hsl(176, 68%, 64%);
    text-decoration: none;
    line-height: 2em;
    border-bottom: 1px solid hsl(176, 68%, 64%);
}

.about__icon{
    width: 20px;
    margin-left: .3em;
    vertical-align: middle;
}

.testimony__quote{
    padding: 0;
    margin-top: 13rem;
}

.testimony__quotes{
    display: block;
    height: 25px;
}

.testimony{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    color: #fff;
}

.testimony__item{
    width: 90%;
    margin: 0 auto;
    background-color: hsl(219, 30%, 18%);
    padding: 2em 1.2em;
    border-radius: 6px;
    box-shadow: 1px 1px 10px -5px rgba(255, 255, 255,.28);
    position: relative;
}

.testimony__info{
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.testimony__picture{
    width: 15%;
    height: 15%;
}

.testimony__img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.testimony__text{
    font-size: 0.8em;
    line-height: 2em
}
.testimony__name{
    font-size: 1rem;
    margin-bottom: 0.4em;
}

.testimony__job{
    font-size: 0.7rem;
}

.join{
    background-image: linear-gradient(hsl(218, 28%, 13%) 50%,hsl(216, 53%, 9%) 50%);
    margin-top: 13rem;
}

.join__container{
    background-color: hsl(219, 30%, 18%);
    padding: 3.5rem 1.5em;
    border-radius: 15px;
    text-align: center;
    color: #fff;
}

.join__subtitle{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.join__paragraph{
    line-height: 1.5rem;
    font-size: 0.8rem;
}

.join__form{
    margin-top: 2em;
    display: grid;
    gap: 1.5em;
}

.join__input{
    text-align: center;
    height: 60px;
    width: 100%;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 10px;
}

.join__input--submit{
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%),hsl(198, 60%, 50%));
}

.main{
    background-color: hsl(218, 28%, 13%);
}

.footer{
    background-color: hsl(216, 53%, 9%);
    color: #fff;
}

.footer__picture{
    margin-top: 3rem;
    width: 200px;
    margin-bottom: 2.5em;
}

.footer__img{
    width: 100%;
    display: block;
}

.footer__contact{
    padding-bottom: 20px;
}

.footer__direction{
    color: #fff;
    text-decoration: none;
    display: flex;
    gap: 1em;
    align-items: flex-start;
}

.footer__direction--second{
    margin: 1em 0;
}

.footer__nav{
    display: grid;
    gap: 1.5em;
    margin-top: 2em;
}

.footer__nav1{
    display: grid;
    gap: 1.5em;
    margin-top: 4em;
}

.footer__link{
    color: #fff;
    text-decoration: none;
}

.footer__link:hover{
    text-decoration: underline;
}

.footer__social{
    margin: 0 auto;
    width: max-content;
    display: grid;
    grid-auto-rows: max-content;
    grid-auto-flow: column;
    gap: 1em;
}

.footer__smedia{
    margin-top: 6em;
    margin-bottom: 3em;
    display: inline-flex;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.footer__media{
    display: block;
    width: 20px;
    height: 20px;
}

@media (min-width:768px) {
    
    .nav{
        padding-top: 3em;
    }

    .nav__img{
        width: 7rem;
    }

    .nav__link{
        font-size: 15px;
    }

    .hero__img{
        width: 500px;
    }

    .hero__texts{
        margin-left: 7rem;
        margin-right: 7rem  ;
    }
    .cards{
        padding-top: 7rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 3em  4em;
    }


    .about{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
        align-items: center;
    }

    .about__title{
        font-size: 2rem;
    }

    .testimony{
        display: flex;
        justify-content: space-between;
    }

    .testimony__item{
        width: 30%;
    }
    
    .join__container{
        max-width: 800px;
    }

    .join__form{
        padding-top: 1em;
        grid-template-columns: 1fr 1fr;
    }


    .footer{
        padding-bottom: 6rem;
    }
    .footer__content{
        display: grid;
        grid-auto-flow: column;
        gap: 2em;
    }

    .footer__contact{
        max-width: 200px;
    }
    .footer__nav{
        margin-top: 0;
    }

    .footer__nav1{
        margin-top: 0;
    }

    .footer__social{
        margin: 0;
    }

    .footer__smedia{
        margin: 0;
    }


    .footer__direction--first{
        max-width: 300px;
    }
    .footer__direction--second{
        margin: 0 0 1em;
    }
}